<div class="container">
    <div class="header">
        <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo">
                <img style="height: 60px;" src="./../../../../assets/images/logo.JPG" alt="">
            </div>
            <div fxLayout="row">
                <app-menu></app-menu>
                <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
            </div>

        </div>
    </div>


</div>