<div class="blog-container sec-padding" >
  <div class="container">
      <div class="section-title">
          <h3>Latest news</h3>
          <p>Business analytics (BA) is the practice of iterative, methodical exploration of an<br>
              organization's data with emphasis on statistical analysis.</p>
       </div>
       <div class="blog-wrapper" fxLayout="column" fxLayout.gt-sm="row">
          <div class="blog" fxFlex>
              <div class="info" >
                  <div class="text-box" fxLayout="column" >
                          <div class="brand">Brand</div>
                          <h4>How to improve your market</h4>
                     <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
              <a href="#">See More</a>
                  </div>
              </div>
          </div>
          <div class="blog" fxFlex>
                  <div class="info" >
                      <div class="text-box" fxLayout="column" >
                          <div class="brand">Brand</div>
                              <h4>How to improve your market</h4>
                              <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                  <a href="#">See More</a>
                      </div>
                  </div>
              </div>
              <div class="blog" fxFlex>
                      <div class="info" >
                          <div class="text-box" fxLayout="column" >
                              <div class="brand">Brand</div>
                                  <h4>How to improve your market</h4>
                                  <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                      <a href="#">See More</a>
                          </div>
                      </div>
                  </div>
       </div>

  </div>

    </div>

