<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Butter & Eggs']">Electronics</a></li>
        <li><a [routerLink]="['/home/products/Fruits']">Men</a></li>
        <li><a [routerLink]="['/home/products/Cheese']">Women</a></li>
        <li><a [routerLink]="['/home/products/Vegetables']">Watches and Sun Glasses</a></li>
        <li><a [routerLink]="['/home/products/Milk']">Others</a></li>

    </ul>
</div>