<div class="about-products">
    <div class="container">
        <div class="about-products-wrap" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
            <div class="left" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                <div class="text">
                    <h3>Our Products</h3>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 1700s,</span>
                    <p>Pellentesque ac finibus orci. Mauris eu nibh sed libero mollis pellentesque et in est. Donec vel vehicula dui. Cras tincidunt, orci a suscipit sagittis, sapien tortor aliquam ipsum, nec sodales ante enim ut dui. </p>
                    <button class="btn-project" mat-raised-button color="primary" type="submit" [routerLink]="['/home/products/all']" routerLinkActive="router-link-active">See more</button>
                </div>
            </div>
            <div class="right" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                <div class="img-wrap">
                    <img src="assets/images/background/bg.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>