<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
        <div class="item mb-15" >
          <div class="product">
            <img src="assets/images/category1.png" alt="">
          </div>
          <div class="product-info">
              <h4><a href="">Emergency & Exit Lights  </a></h4>
            <ul>

                <li><a href="">Central Battery Systems</a> </li>
                <li><a href="">Central Monitoring Systems</a> </li>
                    <li><a href="">Emergency Lights</a> </li>
                        <li><a href="">Exit Lights</a> </li>
                            <li><a href="">LED Emergency Lights</a> </li>
                                <li><a href="">LED Exit Lights</a> </li>
            </ul>
          </div>
        </div>
        <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" >
                <div class="product">
                    <img src="assets/images/category2.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">Emergency & Exit Lights </a></h4>
                    <ul>
                        <li><a href=""> Fluorescent Battery Kits</a> </li>
                            <li><a href=""> LED Battery Kits</a> </li>
                    </ul>
                  </div>
            </div>
            <div class="item ml-7 h" >
                <div class="product">
                    <img src="assets/images/category3.png" alt="">
                  </div>
                  <div class="product-info">
                    <h4><a href="">LED Drivers
                      </a></h4>
                    <ul>
                        <li><a href=""> Constant Current</a> </li>
                            <li><a href=""> Constant Voltage</a> </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" >
                <div class="product">
                    <img src="assets/images/category4.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">LED Lighting
                        </a></h4>
                    <ul>
                        <li><a href=""> LED Downlights</a> </li>
                            <li><a href="">LED Panels</a> </li>
                                <li><a href="">LED Strips</a> </li>
                    </ul>
                  </div>
            </div>
            <div class="item ml-7 h" >
                <div class="product">
                    <img src="assets/images/category5.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">KNX</a></h4>
                    <ul>
                        <li><a href=""></a>KNX Dual Sensor</li>
                          <li><a href="">KNX Power Supply</a> </li>
                              <li><a href="">Line Coupler</a> </li>
                                  <li><a href="">Switching Actuators</a> </li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="item mt-15" >
            <div class="product">
              <img src="assets/images/category6.png" alt="">
            </div>
            <div class="product-info">
                <h4><a href="">Emergency & Exit Lights
                  </a></h4>
              <ul>
                  Damper Actuators
                  <li><a href="">Heating Cables</a> </li>
                      <li><a href="">Sensors</a> </li>
                          <li><a href="">Thermostats</a> </li>
                              <li><a href="">Transformers</a> </li>
                                  <li><a href="">Valves & Actuators</a> </li>
              </ul>
            </div>
          </div>
      </div>
</div>
