<footer class="footer sec-padding" style="background: url(assets/images/background/footer-01.jpg);">
    <div class="container">
        <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">


            <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
                <div class="title">
                    <h5>Address</h5>
                </div>
                <div class="row">
                    <p>44600 Kathmandu Nepal</p>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget">
                <a class="logo" href="index.html"><img style="height: 30px;" src="assets/images/logo.JPG" alt="Awesome Image"></a>

                <div class="title">
                    <h5>Stay tuned</h5>
                </div>

                <ul fxLayout="row" fxLayoutAlign="center center" class="social list-inline">
                    <li><a href="https://www.facebook.com/ewumesh"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/ewumesh"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.twitter.com/ewumesh"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/ewumesh"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>



            <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
                <div class="title">
                    <h5>Contact Us</h5>
                </div>
                <div class="link"><a href="#">flynepal777@gmail.com</a> </div>
                <p>(+977) 9818-7806-77</p>


            </div>






        </div>
    </div>
</footer>